{{> navbar}}
 <style>
    body{
        background-image: url('img/home.jpg'); 
        background-size: 100% 100%; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2 style="color: white;">DASHBOARD</h2>
        </div>
        {{#each itinerary}}
            <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="pull-right"><a href="/details" class="seeDetails">See details</a></span>
                                <h3 class='title'><mark>{{this.it_name}}</mark></h3>
                                <h4 class='id' ><mark>{{this.it_id}}</mark></h4>
                                <h4 class='date'>{{dateFormat this.it_sdate}} - {{dateFormat this.it_edate}}</h4><span class="pull-right"><a href="/download_it" class="dashboardDownload" download="">Download</a></span>
                                <h4 class='loc'>{{this.it_location}}</h4>
                            </div>
                        </div>
            </div>
            {{#each ../review}}
            {{#if_eq this.it_id ../this.it_id}}
            <div class="col-lg-4">
                <div class="panel panel-danger fixed-panel">
                    <input type="text" class="acct_emailCom" value="{{../../email}}" hidden>
                    <input type="text" class="it_idCom" value="{{this.it_id}}" hidden>
                    <input type="text" class="nameCom" value="{{../../fname}} {{../../lname}}" hidden>
                    <div class="panel-footer">Review<span class="comment pull-right" title="Write a Comment"><u class="createComment commentNum">Write a Comment</u></span></div>
                    <div class="panel-heading">
                                {{this.stars}} Star(s) by {{this.name}}
                                
                                <br> {{dateFormat this.date}} {{this.time}}
                    </div>
                    <div class="panel-body comment">
                        <p>{{this.content}}</p>
                        {{#each ../../comment}}
                        {{#if_eq this.it_id ../../this.it_id}}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    {{this.writer}} wrote on {{#if_eq ../../../email this.acct_email}}<span class="pull-right edited"><u class="deleteComment" title="Delete Comment">Delete</u></span><span class="pull-right edited"><u class="editComment" title="Edit Comment">Edit</u>&nbsp;</span>{{/if_eq}}<input type="text" class="_idCom" value="{{this._id}}" hidden>
                                    <br> {{dateFormat this.date}} {{this.time}}:
                                </div>
                                <div class="panel-body">
                                    <p>{{this.comment}}</p>
                                </div>
                            </div>
                        {{/if_eq}}
                        {{/each}}
                    </div>
                </div>
            </div>
                        {{/if_eq}}
                        {{/each}}
        {{/each}}
    </div>
</div>
